pandas==2.2.2
numpy==2.0.2
scikit-learn==1.6.1
seaborn==0.13.2
ipykernel>=6.17.0
tqdm>=4.64.1
networkx==3.5
matplotlib==3.10.0
pillow==11.3.0
pyzmq==26.2.1
tornado==6.5.1
traitlets==5.7.1
rich==13.9.4
psutil==5.9.5
decorator==4.4.2
docutils==0.21.2
nbformat==5.10.4
ray==2.51.1